<include file="Public:header"/>
<load href="__PUBLIC__/Css/rating_simple.css"/>
<load href="__PUBLIC__/Js/rating_simple.js"/>
<eq name="everyModelCss" value="1">
    <load href="__MPUBLIC__/Css/{$Think.controller_name|strtolower}Detail.css"/>
</eq>
<eq name="everyModelJs" value="1">
    <load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Detail.js"/>
</eq>
    <div class="wrap marT20">
        <div class="resourceDetail c_left">
            <div class="location">
                <label></label>
                <a href="{$info|getUrlAddress=###, 'index', 'index'}">首页</a>/
                <a href="javascript:void(0);">资源</a>/
                <a href="{$info|getUrlAddress=###, 'search', 'resource'}">列表</a>/
                <a href="javascript:void(0);">正文</a>
            </div>
            <div class="resourceArea marT20">
                <div class="txtTitle">
                    <h1>{$vo.res_title}</h1>
                    <div>
                        <span class="evaluate">
                            <for start="0" end="$vo['score']">
                                <img src="__MPUBLIC__/Images/star1.png">
                            </for>
                            <for start="0" end="5-$vo['score']">
                                <img src="__MPUBLIC__/Images/star2.png">
                            </for>
                            <span>({$vo.res_score_count|intval}人评价)</span>
                        </span>
                        <span class="count">
                            下载：<span>{$vo.res_downloads|intval}</span>次
                            &nbsp;&nbsp;评论：<span>{$vo.res_comment_count|intval}</span>次
                        </span>
                        <span class="share">
                            <span>分享：</span>
                        </span>
                    </div>
                </div>
                <div class="txt">
                    <if condition="$vo['rf_transform_status'] neq 1">
                        <div>
                            <eq name="vo['rt_id']" value="2">
                                <!-- 视频播放1 -->
                                <include file="Resource:mp4"/>

                                <!-- 视频播放2 -->
                                <include file="Resource:media"/>

                                <!-- 视频播放3 -->
                                <include file="Resource:real"/>
                            <else />
                                <!--其他-->
                                <include file="Resource:other"/>
                            </eq>
                        </div>
                    <else />
                        <eq name="vo['rt_id']" value="1">
                            <!-- 图片 -->
                            <include file="Resource:image" />
                        </eq>
                        <eq name="vo['rt_id']" value="2">
                            <!-- 视频播放 -->
                            <div>
                                <include file="Resource:mp4" />
                            </div>
                        </eq>
                        <eq name="vo['rt_id']" value="3">
                            <!-- 音频播放 -->
                            <include file="Resource:audio"/>
                        </eq>
                        <eq name="vo['rt_id']" value="4">
                            <!--文档-->
                            <include file="Resource:document"/>
                        </eq>
                        <eq name="vo['rt_id']" value="5">
                            <!--其他-->
                            <include file="Resource:other"/>
                        </eq>
                    </if>
                </div>
                <div class="commentArea">
                    <form action="#" method="post">
                        <div class="rateTitle marT20">
                            <div class="star">你的评价
                                <input type="hidden" value="4" id="rating_simple"/>
                            </div>
                            <div class="download">{$vo.res_download_points|intval}个智慧豆<a href="{$vo|getUrlAddress=###, 'download','resource'}">下载</a></div>
                        </div>
                        <div class="inputArea marT20">
                            <div class="inputBox">
                                <label><a href="javascript:void(0);"><img src="__MPUBLIC__/Tmp/rate_head3.jpg" width="60" height="60" border="0" alt="" /></a></label>
                                <textarea></textarea>
                            </div>
                            <div class="inputBtn">
                                <span>文明上网理性发言</span>
                                <label class="mySubmit"><input type="button" value="发表" /></label>
                                <label class="myForward"><input type="button" value="" /><span></span></label>
                                <label class="myPraise"><input type="button" value="" /><span></span></label>
                                <label class="myCollect on"><input type="button" value="" /><span></span></label>
                                <label class="myStep"><input type="button" value="" /><span></span></label>
                            </div>
                        </div>
                        <div class="commentLists">
                            <div class="comment_cate">
                                <a class="on" href="javascript:void(0);">热门</a>
                                <a href="javascript:void(0);">时间</a>
                            </div>
                            <ul class="comment_list ">
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="__MPUBLIC__/Tmp/re_rate1.jpg" width="60" height="60" border="0" alt="" />
                                    </a>
                                    <div class="comment_detail">
                                        <a href="javascript:void(0);">希望在先</a>
                                        <span>4个小时前</span>
                                        <p>此地，部队面临着许多现实困难。部队领导连提了三</p>
                                        <p>
                                            <span><label></label>(0)</span>
                                            <span><label></label>回复(0)</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="__MPUBLIC__/Tmp/re_rate2.jpg" width="60" height="60" border="0" alt="" />
                                    </a>
                                    <div class="comment_detail">
                                        <a href="javascript:void(0);">希望在先</a>
                                        <span>4个小时前</span>
                                        <p>此地，部队面临着许多现实困难。部队领导连提了三</p>
                                        <p>
                                            <span><label></label>(0)</span>
                                            <span><label></label>回复(0)</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="__MPUBLIC__/Tmp/rate_head2.jpg" width="60" height="60" border="0" alt="" />
                                    </a>
                                    <div class="comment_detail">
                                        <a href="javascript:void(0);">希望在先</a>
                                        <span>4个小时前</span>
                                        <p>此地，部队面临着许多现实困难。部队领导连提了三</p>
                                        <p>
                                            <span><label></label>(0)</span>
                                            <span><label></label>回复(0)</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="relatedInfor c_right">
            <div class="resourceInfor item">
                <h3 class="c_title">
                    <span>详情</span>
                    <label>Details</label>
                </h3>
                <p><span>贡 献 者：</span>{$vo.creator_nickname}</p>
                <p><span>上传时间：</span>{$vo.res_created|date='Y-m-d',###}</p>
                <p><span>资源类型：</span>{$res_type[$vo['rt_id']]['rt_title']}</p>
                <p><span>大&nbsp;&nbsp;&nbsp;&nbsp;小：</span>{$vo.rf_size|byteFormat}</p>
                <p><span>格&nbsp;&nbsp;&nbsp;&nbsp;式：</span>{$vo.rf_ext}</p>
                <p><span>描&nbsp;&nbsp;&nbsp;&nbsp;述：</span>{$vo.res_summary|getShortTitle=###,55}</p>
            </div>
            <div class="relevant item marT10 resItem">
                <h3 class="c_title">
                    <span>相关</span>
                    <label>relevant</label>
                </h3>
                <volist name="relationList[3]['list']" id="relation_info">
                    <a href="{$relation_info|getUrlAddress=###, 'detail', 'resource'}">
                        <img 
                        <if condition="$relation_info['rt_id'] eq 1">
                            src="__MPUBLIC__/Images/infor_1.png"
                        <elseif condition="$relation_info['rt_id'] eq 2" />
                            src="__MPUBLIC__/Images/infor_2.png"
                        <elseif condition="$relation_info['rt_id'] eq 3" />
                            src="__MPUBLIC__/Images/infor_3.png"
                        <else/>
                            src="__MPUBLIC__/Images/infor_4.png"
                        </if>
                        alt="{$relation_info.res_title}" title="{$relation_info.res_title}" />
                        {$relation_info.res_title|getShortTitle=###,18}
                    </a>
                </volist>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<script type="text/javascript">
$(function() {
    $("#rating_simple").webwidget_rating_simple({
        rating_star_length: "5",
        rating_initial_value: "4",
        rating_function_name: "",
        directory: "__MPUBLIC__/Tmp/"
    });
});
</script>
<include file="Public:footer"/>
