<include file="Public:header"/>
<div id="dkt_content" class="wrap">
    <ul class="leftMenu">
        <li>
            <a class="on" href="/index.php/school/Index/info/s_id/{$sInfo.s_id}">学校简介</a>
        </li>
        <li>
            <a href="/index.php/school/Index/style/s_id/{$sInfo.s_id}">学校风采</a>
        </li>
        <li>
            <a href="javascript:void(0);">集体领导</a>
        </li>
        <li>
            <a href="javascript:void(0);">名师风采</a>
        </li>
        <li>
            <a href="javascript:void(0);">联系我们</a>
        </li>
    </ul>
    <div class="contentShow">
        <div class="location">
            <a href="javascript:void(0);">首页</a>
            >
            <a href="javascript:void(0);">学校概况</a>
            >
            <a href="javascript:void(0);">学校介绍</a>
        </div>
        <div class="show txt">
            <p>{$sInfo['s_description']} </p>
        </div>
    </div>
    <div class="clear"></div>
</div>
<include file="Public:footer"/>