<include file="Public:header"/>
<div id="dkt_content" class="wrap">
    <ul class="leftMenu">
        <li>
            <a href="/index.php/school/Info/index/s_id/1">学校简介</a>
        </li>
        <li>
            <a class="on" href="/index.php/school/Info/style/s_id/1">学校风采</a>
        </li>
        <li>
            <a href="javascript:void(0);">集体领导</a>
        </li>
        <li>
            <a href="javascript:void(0);">名师风采</a>
        </li>
        <li>
            <a href="javascript:void(0);">联系我们</a>
        </li>
    </ul>
    <div class="contentShow">
        <div class="location">
            <a href="javascript:void(0);">首页</a>
            >
            <a href="/index.php/school/Info/index/s_id/1">学校概况</a>
            >
            <a href="school/Info/style/s_id/1">学校风采</a>
        </div>
        <div class="schoolStyle">
            <img src="../../Public/Tmp/schoolStyle.jpg" usemap="#schoolMap" width="670" height="492" border="0" alt="school style"/>
            <map name="schoolMap" id="schoolMap">
                <area shape="circle" name="../../Public/Tmp/schoolStyle2.jpg" coords="555,156,40" alt="map" />
                <area shape="circle" name="../../Public/Tmp/schoolStyle3.jpg" coords="448,52,40" alt="map" />
            </map>
            <div class="cover">
                <img src="#" border="0" alt="school style"/>
                <div class="closed"><span></span></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<include file="Public:footer"/>