.hMainNav{
    background:#278cde;
}
#dkt_header .hMainNav a.on,#dkt_header .hMainNav a:hover{
    background:#e6e6e6;
    color:#278cde;
}
.text{
    width:250px;
}
.detailTitle h1{
    color:#333;
    font-size:20px;
    font-weight:normal;
}
.detailTitle > div{
    margin-top:5px;
}
.detailTitle > div > a{
    float:right;
    margin-left:20px;
    color:#278cde;
}
.count,.share{
    font-family:"宋体";
    color:#333;
    margin-left:20px;
}
.count span{
    color:#228ee6;
}
.share a{
    vertical-align:middle;
}
.pic{
    width:660px;
    height:537px;
}
.com_detail{
    width:590px;
}
.moreComment,.com_infor a{
    color:#278cde;
}
.com_btn span,.com_btn a{
    background:#d5ecff;
}
.com_btn .praise span{
    width:17px;
    background: url(../Images/news_tip.png) no-repeat 0px 0px;
}
.com_btn .com_comment span{
    background: url(../Images/news_tip.png) no-repeat -17px 0px;
}
.re_title a span{
    color:#278cde;
    font-size:20px;
    font-weight:normal;
}
.re_title a span label{
    border-left:#278cde solid 3px;
    margin-top:2px;
}
.news_itemThree > a,.news_itemThree > div{
    float:left;
}
.news_itemThree{
    height:80px;
}
.news_itemThree > div{
    width:230px;
    margin-left:10px;
}
.news_itemThree > div p{
    line-height:20px;
    color:#646464;
}
.news_itemThree > div p a{
    color:#820f28;
}
.news_title{
    color:#333;
    font-size:18px;
    font-family:"Microsoft YaHei";
}
.focus{
    height:120px;
}
.focus > .news_itemThree > div > a{
    color:#333;
    font-size:14px;
    margin-bottom:7px;
    display:block;
}
.focus,.focus .news_itemThree{
    margin-top:15px;
}
.newsRank > a{
    display:block;
    width:300px;
    font-size:14px;
    color:#333;
    margin-top:10px;
}
.newsRank > a span{
    color:#278cde;
    display:inline-block;
    font-family:"Microsoft YaHei";
    font-size:20px;
    text-align:center;
    width:25px;
}
.newsAd{
    display:block;
    margin:30px 0px;
}