<!--图片-->
<div style="text-align:center;display:table;">
    <div style="display:table-cell;vertical-align:middle; height: 478px;">
        <img src="{$vo.res_path}" alt="{$vo.res_title}" title="{$vo.res_title}"/>
    </div>
</div>
<!--<load href="__MPUBLIC__/Css/gallery.css" />
<load href="__MPUBLIC__/Js/gallery.js" />
<div id="DB_gallery">
    <div class="DB_imgSet">
        <div class="DB_imgWin"><img src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/img1.jpg" alt=""/></div>
        <div class="DB_prevBtn"><img src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/prev_off.png" alt="上一页"/></div>
        <div class="DB_nextBtn"><img src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/next_off.png" alt="下一页"/></div>
    </div>
    <div class="DB_thumSet">
        <ul class="DB_thumMove">
            <volist name="list" id="info">
                <li>
                    <a href="{$info.res_path}">
                        <img width="80" height="80" src="{$info.res_image}" alt="{$info.res_title}"/>
                        <img width="80" height="80" class="thumCover" src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/cover.png"/>
                    </a>
                </li>
            </volist>
        </ul>
        <div class="DB_thumLine"></div>
        <div class="DB_prevPageBtn"><img src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/prev_page.png" alt="上一页"/></div>
        <div class="DB_nextPageBtn"><img src="file:///D:/wamp/www/dkt4_web/Public/Tmp/img/next_page.png" alt="下一页"/></div>
    </div>
</div>-->