        <form class="rateInput marT20" action="javascript:void(0);" method="post">
            <textarea maxlength="250" placeholder="把你的想法写下来吧..."></textarea>
            <label><span>0</span>/250</label>
            <input type="submit" value="发表评论" />
        </form>
        <div class="userRates">
            <h3>用户评价<span>（6）</span></h3>
            <ul class="userRate">
                <li>
                    <a href="javascript:void(0);">
                        <img src="__MPUBLIC__/Tmp/space2.jpg" width="60" height="60" border="0" alt="rate" />
                    </a>
                    <div class="rate_detail">
                        <p>
                            <a href="javascript:void(0);">哈哈哈</a>
                            <label>2014.12.06 18:36发表</label>
                        </p>
                        <p class="d_content">
                            质量不错，做工虽不那么精细，但对得起价格，夹的稳固，性价比高。有些小的质量问题，客服也很有耐心的解决了。还会再来的！
                        </p>
                        <p class="d_func">
                            <span class="replay_btn">回复（0）</span>
                            <span>赞（0）</span>
                        </p>
                        <ul class="replayRate">
                            <li>
                                <div>
                                    <p>
                                        <a href="javascript:void(0);">ho!jkkjjk456</a>
                                        <label>回复</label>
                                    </p>
                                    <p class="re_content">
                                        为什么建都北京？南京，武汉，长沙，洛阳，成都，哪个不比它好
                                    </p>
                                    <p class="d_func">
                                        <span class="replay_btn">回复（0）</span>
                                        <span>赞（0）</span>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p>
                                        <a href="javascript:void(0);">ho!jkkjjk456</a>
                                        <label>回复</label>
                                    </p>
                                    <p class="re_content">
                                        为什么建都北京？南京，武汉，长沙，洛阳，成都，哪个不比它好
                                    </p>
                                    <p class="d_func">
                                        <span class="replay_btn">回复（0）</span>
                                        <span>赞（0）</span>
                                    </p>
                                </div>
                                <ul class="replayRate">
                                    <li>
                                        <div>
                                            <p>
                                                <a href="javascript:void(0);">ho!jkkjjk456</a>
                                                <label>回复</label>
                                            </p>
                                            <p class="re_content">
                                                为什么建都北京？南京，武汉，长沙，洛阳，成都，哪个不比它好
                                            </p>
                                            <p class="d_func">
                                                <span class="replay_btn">回复（0）</span>
                                                <span>赞（0）</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="__MPUBLIC__/Tmp/space2.jpg" width="60" height="60" border="0" alt="rate" />
                    </a>
                    <div class="rate_detail">
                        <p>
                            <a href="javascript:void(0);">哈哈哈</a>
                            <label>2014.12.06 18:36发表</label>
                        </p>
                        <p class="d_content">
                            质量不错，做工虽不那么精细，但对得起价格，夹的稳固，性价比高。有些小的质量问题，客服也很有耐心的解决了。还会再来的！
                        </p>
                        <p class="d_func">
                            <span class="replay_btn">回复（0）</span>
                            <span>赞（0）</span>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="__MPUBLIC__/Tmp/space2.jpg" width="60" height="60" border="0" alt="rate" />
                    </a>
                    <div class="rate_detail">
                        <p>
                            <a href="javascript:void(0);">哈哈哈</a>
                            <label>2014.12.06 18:36发表</label>
                        </p>
                        <p class="d_content">
                            质量不错，做工虽不那么精细，但对得起价格，夹的稳固，性价比高。有些小的质量问题，客服也很有耐心的解决了。还会再来的！
                        </p>
                        <p class="d_func">
                            <span class="replay_btn">回复（0）</span>
                            <span>赞（0）</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="moreRates">
            <a href="javascript:void(0);">查看更多评论</a>
        </div>