<include file="Public:headerTop"/>
<include file="Public:headerNav"/>
<include file="Adv:headerAdv3"/>
<include file="Public:headerSearch"/>
<include file="Article:headerNav"/>
<include file="Public:headerBottom"/>
<eq name="everyModelCss" value="1">
    <load href="__MPUBLIC__/Css/{$Think.controller_name|strtolower}Search.css"/>
</eq>
<eq name="everyModelJs" value="1">
    <load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Search.js"/>
</eq>
    <div class="news marT20">
        <div class="recommend_news c_left">
            <h3 class="re_title">
                <a href="javascript:void(0);">
                    <span>
                        <label></label>
                        {$curr_cate_info.ca_title}
                    </span>
                </a>
            </h3>
            <div class="carouselAd"></div>
            <ul class="newsList">
                <volist name="artList" id="artInfo">
                    <li>
                        <if condition="$artInfo['m_id'] neq 2">
                            <div>
                                <a href="{$artInfo|getUrlAddress=###,'detail','article'}">
                                    <img width="80" border="0" height="80" alt="{$artInfo.art_title}" title="{$artInfo.art_title}" src="{$artInfo.art_cover}">
                                </a>
                                <div>
                                    <a href="{$artInfo|getUrlAddress=###,'detail','article'}" class="news_title">{$artInfo.art_title|getShortTitle=###,25}</a>
                                    <p>{$artInfo.art_summary|getShortTitle=###,92}</p>
                                    <p>
                                        <span>浏览({$artInfo.art_hits|intval})</span>
                                        <span>评论({$artInfo.art_comment_count|intval})</span>
                                    </p>
                                </div>
                            </div>
                        <else/>
                            <div class="pic_news">
                                <a href="{$artInfo|getUrlAddress=###,'detail','article'}" class="news_title">{$artInfo.art_title|getShortTitle=###,25}</a>
                                <if condition="$artInfo['pic'][0]">
                                    <img width="180" border="0" height="180" alt="{$artInfo.art_title}" title="{$artInfo.art_title}" src="{$artInfo['pic'][0]['filepath']}">
                                </if>
                                <if condition="$artInfo['pic'][1]">
                                    <img width="180" border="0" height="180" alt="{$artInfo.art_title}" title="{$artInfo.art_title}" src="{$artInfo['pic'][1]['filepath']}">
                                </if>
                                <if condition="$artInfo['pic'][2]">
                                    <img width="180" border="0" height="180" alt="{$artInfo.art_title}" title="{$artInfo.art_title}" src="{$artInfo['pic'][2]['filepath']}">
                                </if>
                                <p>
                                    <span>浏览({$artInfo.art_hits|intval})</span>
                                    <span>评论({$artInfo.art_comment_count|intval})</span>
                                </p>
                            </div>
                        </if>
                    </li>
                </volist>
            </ul>
            <div class="loading">下拉加载...</div>
        </div>
        <div class="focusNews c_right">
            <h3 class="re_title">
                <a href="javascript:void(0);">
                    <span>
                        <label></label>
                        焦点新闻
                    </span>
                </a>
            </h3>
            <volist name="focus" id="foc_info">
                <div class="focus">
                    <a href="{$foc_info|getUrlAddress=###,'detail','article'}" class="news_title">{$foc_info.art_title|getShortTitle=###,17}</a>
                    <div class="news_itemThree">
                        <a href="{$foc_info|getUrlAddress=###,'detail','article'}">
                            <img width="80" border="0" height="80" alt="focus news" src="{$foc_info.art_cover}" alt="{$foc_info.art_title}" title="{$foc_info.art_title}">
                        </a>
                        <div>
                            <a href="javascript:void(0);">特别报道</a>
                            <p>
                                {$foc_info.art_summary|getShortTitle=###,34}
                                <a href="{$foc_info|getUrlAddress=###,'detail','article'}">[详细]</a>
                            </p>
                            <p>浏览：{$foc_info.art_hits|intval}次</p>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>
    <div class="newsRank_school c_right">
        <div class="newsRank">
            <h3 class="re_title">
                <a href="javascript:void(0);">
                    <span>
                        <label></label>
                        新闻排行
                    </span>
                </a>
            </h3>
            <volist name="rank" id="rank_info">
                <a href="{$rank_info|getUrlAddress=###,'detail','article'}">
                    <span>{$key+1}</span>
                    {$rank_info.art_title|getShortTitle=###,19}
                </a>
            </volist>
        </div>
        <include file="Adv:rightAdv2"/>
        <div class="school">
            <h3 class="re_title">
                <a href="javascript:void(0);">
                    <span>
                        <label></label>
                        学校查询
                    </span>
                </a>
            </h3>
            <div class="searchCourse">
                <span></span>
                <input type="text" value="搜学校">
            </div>
            <volist name="school" id="s_info" mod="2">
                <eq name="mod" value="1">
                        <span class=""></span>
                        <a href="{$s_info|getUrlAddress=###,'index','index','school',$s_info['s_id']}">{$s_info.s_title}</a>
                    </p>
                <else/>
                    <p class="school_item">
                        <a href="{$s_info|getUrlAddress=###,'index','index','school',$s_info['s_id']}">{$s_info.s_title}</a>
                </eq>
            </volist>
        </div>
    </div>
    <div class="clear"></div>
    <include file="Adv:footerAdv1"/>
<include file="Public:footer"/>