#wrap{
    width:1000px;
    margin-top:20px;
}
.search{
    border:#ccc solid 1px;
    font-size:14px;
    color:#333;
    padding:0px 0px 10px 20px;
    background:none;
    float:none;
    margin:0px;
    width:auto;
    height:auto;
}
.search span{
    background:#fff;
    display:inline-block;
    height:auto;
    margin:20px 35px 0px 0px;
    width:auto;
}
.search div span a{
    color:#333;
    font-family:"Microsoft YaHei";
    text-align:right;
    width:70px;
    display:inline-block;
}
.padding_t10{
    padding-top:10px;
}
.search input{
    border:1px solid #ccc;
    color:#333;
    height:28px;
    padding-left:5px;
    width:193px;
}
.search select{
    border: 1px solid #ccc;
    border-radius:3px;
    height:28px;
    width:130px;
}
.btn{
    display:block;
    text-align:center;
    width:67px;
    line-height:30px;
    background:-moz-linear-gradient(top,#4ab1ff,#0181e3);/*ff*/
    background:-o-linear-gradient(top, #4ab1ff 0%,#0181e3 100%);/*Opera*/
    background:-webkit-gradient(linear,top,bottom,from(#4ab1ff),to(#0181e3));/*Chrome*/
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr="#4ab1ff",endColorstr="#0181e3",GradientType="0"); /*IE*/
    background:linear-gradient(#4ab1ff,#0181e3);
    border:#006fc4 solid 1px;
    border-radius:3px;
    color:#fff;
    margin:20px 0px 0px;
}
.btn span{
    background:url(../Images/funcBtns.png) no-repeat -104px 0px;
    display:block;
    float:left;
    height:15px;
    margin:8px -5px 0px 10px;
    width:15px;
}
.tools{
    border:#ccc solid 1px;
    border-top:none;
    line-height:50px;
    height:50px;
    padding-left:20px;
}
.tools a{
    display:inline-block;
    cursor:pointer;
    background:#fff;
    border:1px solid #ccc;
    border-radius:3px;
    color:#333;
    font-family:"Microsoft YaHei";
    line-height:30px;
    margin:9px 6px 0px 0px;
    padding:0px 11px;
}
.tools a span{
    display:block;
    float:left;
    height:15px;
    margin:7px 5px 0px 0px;
    width:15px;
}
.tools .add span{
    background:url(../Images/funcBtns.png) no-repeat 0px 0px;
}
.tools .edit span{
    background:url(../Images/funcBtns.png) no-repeat -16px -1px;
}
.tools .del span{
    background:url(../Images/funcBtns.png) no-repeat -43px 2px;
}
.tools .forbid span{
    background:url(../Images/funcBtns.png) no-repeat -58px 0px;
}
.tools .resume span{
    background:url(../Images/funcBtns.png) no-repeat -74px 0px;
}
.tools .return span{
    background:url(../Images/funcBtns.png) no-repeat -120px 1px;
}
#list{
    border:#ccc solid 1px;
    border-top:none;
    min-height:360px;
    margin-top:10px;
    width:910px;
}
#list ul li{
    width:898px;
    font-size:14px;
    height:39px;
    border-bottom:#ccc solid 1px;
    color:#333;
    padding-left:10px;
}
#list ul li span a{
    color:#333;
    font-family:"Microsoft YaHei";
}
#list ul li input{
    float:left;
    margin-top:15px;
}
#list ul li span{
    display:inline-block;
    float:left;
    height:22px;
    overflow:hidden;
    padding-top:10px;
    text-align:center;
}
#list .list_header{
    background:#0181e3;
}
#list .list_header li span{
    color:#fff;
}
#list .list_list .even{
    background:#f8f8f8;
}
#list .list_list li.over{
    background:#dff1ff;
}
.page{
    text-align:right;
    padding-right:20px;
    height:20px;
    margin-top:20px;
}
.page a{
    padding:3px 6px;
    color:#333;
    margin-left:1px;
}
.page a:hover{
    background:#228ee6;
    color:#fff;
}
.page a.current{
    background:#278cde;
    color:#fff;
}
.footer{
    clear:both;
    margin-bottom:70px;
}