.list_list li{
    margin: 10px 0 0 5px;
}
.list_list li input{
    border: 1px solid #ccc;
    height: 25px;
    width: 150px;
}
.list_list li select{
    border: 1px solid #ccc;
    height: 25px;
    width: 75px;
}
.list_list li label{
    display: inline-block;
    height: 25px;
    text-align: right;
    width: 60px;
}