<include file="Public:header"/>
<include file="Public:left"/>
<script>
    $(function() {
        $('.list_header li .title').html($('.left div.on').html());
    })
</script>
<div class="margin_t10" id="list">
    <ul class="list_header">
        <li><span class="title"></span></li>
    </ul>
    <form enctype="multipart/form-data" action="/Manage/IpDenyList/index/" method="post">
        <ul class="list_list">
            <li>
                <div class="row_left">IP黑名单</div>
                <div class="row_right">
                    <textarea cols="35" rows="5" name="ip_list">{$ip_list}</textarea>
                    <font color="red">温馨提示：<br/>每行一个IP，并以“;”结尾</font>
                </div>
            </li>
            <li>
                <div class="row_right">
                    <button type="submit" value="" class="save btn">保存</button>
                </div>
            </li>
        </ul>
    </form>
</div>
<include file="Public:footer"/>