<include file="Public:header"/>
<include file="Public:left"/>
<load href="__MPUBLIC__/Css/add.css"/>
<eq name="everyModelCss" value="1">
    <load href="__MPUBLIC__/Css/{$Think.controller_name|strtolower}Resume.css"/>
</eq>
<eq name="everyModelJs" value="1">
    <load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Resume.js"/>
</eq>
<div id="list" class="margin_t10">
    <ul class="list_header">
        <li><span class="title">家长设置</span><span class="return">返回</span></li>
    </ul>
    <form enctype="multipart/form-data" action="/Reagional/Student/resume/" method="post">
        <ul class="list_list">
            <foreach name="mr_list" item="mr_info" key="mr_key">
                <li style="height:auto;">
                    <label>家长：</label>
                    <input type="text" name="parent" num="{$mr_key+1}" value="{$mr_info.parent_name}"/>
                    <input type="hidden" class="parent_id" name="parent_id[]" value="{$mr_info.parent_id}"/>
                    <label>关系：</label>
                    <select name="mr_type[]">
                        <foreach name="mr_type" item="mr_name" key="mr_id">
                            <option value="{$mr_id}" <if condition="$mr_info['mr_type'] eq $mr_id">selected="selected"</if>>{$mr_name}</option>
                        </foreach>
                    </select>
                    <label>手机号：</label>
                    <input type="text" name="phone" readonly="true" value="{$mr_info.parent_phone}"/>
                </li>
            </foreach>
            <li>
                <span class="row_right">
                    <input type="hidden" name="auth_id" value="{$auth_id}">
                    <button type="submit" value="" class="save btn">保存</button>
                </span>
            </li>
            <li style="height:auto;display:none;">
                <label>家长：</label>
                <input type="text" name="parent">
                <input type="hidden" name="parent_id[]">
                <label>关系：</label>
                <select name="mr_type[]">
                    <volist name="mr_type" id="mr_name">
                        <option value="{$key}">{$mr_name}</option>
                    </volist>
                </select>
                <label>手机号：</label>
                <input type="text" name="phone" readonly="true"/>
            </li>
        </ul>
    </form>
</div>
<include file="Public:footer"/>