    <!--结束主体内容-->
    </div>
    <!-- 底部 -->
    <div id="dkt_footer">
        <div class="partner">
            <span>合作单位:</span>
            <volist name="friendlyLink" id="flink">
                <a href="{$flink.fl_url}">{$flink.fl_title}</a>
            </volist>
        </div>
        <div class="aboutSite">
            <a href="javascript:void(0);">关于本站</a>
            <a href="javascript:void(0);">常见问题</a>
            <a href="javascript:void(0);">意见反馈</a>
        </div>
        <div class="copyright">
            <p>Copyright © 2007-2011 北京金商祺移动互联 All Rights Reserved</p>
        </div>
    </div>
</body>
</html>