    <div class="logo_search wrap">
        <a class="logo" href="javascript:void(0);">
            <span></span>
            <label class="foYa font16 color_555">教育平台</label>
            <label class="foAr color_999">{$current_re_title}</label>
        </a>
        <div class="searchBox">
            <form method="post" action="javascript:void(0);">
                <input class="submit" type="submit" value="">
                <label class="search">
                    <span></span>
                </label>
                <div class="box">
                    <div class="dropdownMenu">
                        <div class="menuShow">
                            <span>资源</span>
                            <img alt="tip" src="__MPUBLIC__/Images/tip_3.png">
                        </div>
                        <div class="menuSelect" style="display:none;">
                            <span>学习</span>
                            <span>公式</span>
                        </div>
                    </div>
                    <input class="text" type="text" value=" ">
                </div>
            </form>
        </div>
    </div>