    <div class="contents marT20">
            <ul class="courseNav">
                <li><a href="javascript:void(0);" class="on">语文</a></li>
                <li><a href="javascript:void(0);">数学</a></li>
                <li><a href="javascript:void(0);">英语</a></li>
                <li><a href="javascript:void(0);">生物</a></li>
                <li><a href="javascript:void(0);">地理</a></li>
                <li><a href="javascript:void(0);">政治</a></li>
                <li><a href="javascript:void(0);">化学</a></li>
                <li><a href="javascript:void(0);">历史</a></li>
                <li><a href="javascript:void(0);">物理</a></li>
            </ul>
            <div class="item">
                <div class="itemShow">
                    <a href="javascript:void(0);"><img width="80" border="0" height="80" alt="resource" src="../../Public/Tmp/resource_pic1.jpg"></a>
                    <div>
                        <a href="javascript:void(0);">人教版小学五年级上册语文期末试</a>
                        <p>好评:<img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                        </p>
                        <p class="date">2014-04-05</p>
                    </div>
                </div>
                <a href="javascript:void(0);">人教版语文五年级上册第六单元测试卷 2</a>
                <a href="javascript:void(0);">人教版小学五年级语文上册期末复习测试题汇编...</a>
                <a href="javascript:void(0);">人教版五年级上册语文期末测试卷及答案</a>
                <a href="javascript:void(0);">人教版五年级语文上册第五单元测试题1</a>
                <a href="javascript:void(0);">人教版五年级上册语文全册教案 </a>
            </div>
            <div class="item marL10">
                <div class="itemShow">
                    <a href="javascript:void(0);"><img width="80" border="0" height="80" alt="resource" src="../../Public/Tmp/resource_pic3.jpg"></a>
                    <div>
                        <a href="javascript:void(0);">五年级语文上册落花生ppt</a>
                        <p>好评:<img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                        </p>
                        <p class="date">2014-04-05</p>
                    </div>
                </div>
                <a href="javascript:void(0);">11《精彩极了和糟糕透了》</a>
                <a href="javascript:void(0);">人教版语文五年级上册每课练习题</a>
                <a href="javascript:void(0);">人教版语文五年级上册第七单元素质测评试题...</a>
                <a href="javascript:void(0);">公开课《晏子使楚》教学课件</a>
                <a href="javascript:void(0);">22课《狼牙山五壮士》课件</a>
            </div>
            <div class="clear"></div>
        </div>