    <div class="prepareLesson c_right contents marT20">
        <ul class="contentNav">
            <li class="on"><a href="javascript:void(0);">备课</a></li>
        </ul>
        <div class="item">
            <div class="itemShow">
                <a href="javascript:void(0);"><img width="80" border="0" height="80" alt="resource" src="../../Public/Tmp/in_pic6.jpg"></a>
                <div>
                    <a href="javascript:void(0);">全等三角形和锐角三角形</a>
                    <p>初中数学</p>
                    <p>版本：北师大版</p>
                </div>
            </div>
            <a href="javascript:void(0);">[初中语文]初三三单元沁园春雪经典教案</a>
            <a href="javascript:void(0);">[高中物理]高二物理第一张力的原理师范教案</a>
            <a href="javascript:void(0);">[高中物理]高二物理第一张力的原理</a>
            <a href="javascript:void(0);">[高中物理]高二物理第一张力的原理师范教案</a>
            <a href="javascript:void(0);">[高中物理]高二物理第一张力的原理</a>
        </div>
    </div>