    <div class="schoolShow wrapBorder">
            <p>学校展示</p>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school1.jpg">
                北京金山小学
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school2.jpg">
                北京中关村第二实验学校
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school3.jpg">
                北京市中国人民附中
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school4.jpg">
                黄维学院
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school5.jpg">
                北京小学第二实验学校
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school6.jpg">
                实验二小
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school7.jpg">
                北京市中国人
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school8.jpg">
                北京史家小学学校
            </a>
            <a href="javascript:void(0);" class="a_show">
                <img width="60" border="0" height="60" alt="app" src="../../Public/Tmp/school9.jpg">
                北京府学小学
            </a>
        </div>