    <div class="contents">
            <ul class="contentNav">
                <li class="on"><a href="javascript:void(0);">教育资讯</a></li>
                <li><a href="javascript:void(0);">专题例题</a></li>
                <li><a href="javascript:void(0);">文字资料</a></li>
                <li><a href="javascript:void(0);">图片资料</a></li>
                <li><a href="javascript:void(0);">视频资料</a></li>
                <li><a href="javascript:void(0);">师范课件</a></li>
                <li><a href="javascript:void(0);">师范教案</a></li>
            </ul>
            <div class="item">
                <div class="itemShow">
                    <a href="javascript:void(0);"><img width="80" border="0" height="80" alt="resource" src="../../Public/Tmp/resource_pic1.jpg"></a>
                    <div>
                        <a href="javascript:void(0);">七年级生物上册期中测试题</a>
                        <p>好评:<img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                        </p>
                        <p class="date">2014-04-05</p>
                    </div>
                </div>
                <a href="javascript:void(0);">2015北京高考说明各科变化解读</a>
                <a href="javascript:void(0);">2015年中考数学命题规律权威剖析</a>
                <a href="javascript:void(0);">云南2015中考数学高分盛宴-《必考考点预测通关》</a>
                <a href="javascript:void(0);">【复习必备】2015中考语文高分盛宴空中学堂</a>
                <a href="javascript:void(0);">2015中考数学高分盛宴-《必考考点真题汇编》</a>
            </div>
            <div class="item marL10">
                <div class="itemShow">
                    <a href="javascript:void(0);"><img width="80" border="0" height="80" alt="resource" src="../../Public/Tmp/resource_pic2.jpg"></a>
                    <div>
                        <a href="javascript:void(0);">人教版生物七年级上册复习提纲</a>
                        <p>好评:<img src="../../Public/Tmp/star.png">
                            <img src="../../Public/Tmp/star.png">
                        </p>
                        <p class="date">2014-04-05</p>
                    </div>
                </div>
                <a href="javascript:void(0);">物理九年级一轮复习第十一章</a>
                <a href="javascript:void(0);">3.4.5.我们周围的空气</a>
                <a href="javascript:void(0);">《加减混合运算》PPT</a>
                <a href="javascript:void(0);">初二物理 第五章透镜及其应用</a>
                <a href="javascript:void(0);">小学英语四年级下册期末测试</a>
            </div>
            <div class="clear"></div>
        </div>