    <div class="contents">
            <ul class="contentNav">
                <li class="on"><a href="javascript:void(0);">教育资讯</a></li>
                <li><a href="javascript:void(0);">教育信息</a></li>
                <li><a href="javascript:void(0);">特别报道</a></li>
                <li><a href="javascript:void(0);">政治文件</a></li>
                <li><a href="javascript:void(0);">环球视野</a></li>
                <li><a href="javascript:void(0);">特别报道</a></li>
            </ul>
            <div class="infor_item">
                <a href="javascript:void(0);" class="a_show">
                    <img width="80" border="0" height="80" alt="infor" src="../../Public/Tmp/in_pic1.jpg">
                    一师一优课
                </a>
                <a href="javascript:void(0);"><span></span>江苏高考改革新方案上半年出台</a>
                <a href="javascript:void(0);"><span></span>自主招生方案没谱</a>
                <a href="javascript:void(0);"><span></span>新高考催热语文培训</a>
                <a href="javascript:void(0);"><span></span>安徽高三女生教学楼五楼坠亡</a>
            </div>
            <div class="infor_item marL20">
                <a href="javascript:void(0);" class="a_show">
                    <img width="80" border="0" height="80" alt="infor" src="../../Public/Tmp/in_pic2.jpg">
                    打工子弟北...
                </a>
                <a href="javascript:void(0);"><span></span>6岁研究生创业当校长 坚持写</a>
                <a href="javascript:void(0);"><span></span>湖南2月12日公布考研成绩</a>
                <a href="javascript:void(0);"><span></span>可向前辈请教面试经</a>
                <a href="javascript:void(0);"><span></span>招生考试成绩12日公布</a>
            </div>
            <div class="infor_item">
                <a href="javascript:void(0);" class="a_show">
                    <img width="80" border="0" height="80" alt="infor" src="../../Public/Tmp/in_pic3.jpg">
                    南京妈妈家...
                </a>
                <a href="javascript:void(0);"><span></span>国际班是否能够成为海外“...</a>
                <a href="javascript:void(0);"><span></span>用真爱征服芝加哥大学</a>
                <a href="javascript:void(0);"><span></span>7万学费的国际班学生流入普通班</a>
                <a href="javascript:void(0);"><span></span>国际学校或将受到更多青睐</a>
            </div>
            <div class="infor_item marL20">
                <a href="javascript:void(0);" class="a_show">
                    <img width="80" border="0" height="80" alt="infor" src="../../Public/Tmp/in_pic4.jpg">
                    湖北拟筹50...
                </a>
                <a href="javascript:void(0);"><span></span>南昌小学生寒假作业告别老三样</a>
                <a href="javascript:void(0);"><span></span>爱文学的女儿被迫拆电器</a>
                <a href="javascript:void(0);"><span></span>2014年中央共1600亿元投向义务</a>
                <a href="javascript:void(0);"><span></span>重庆一中学年薪千万全球招校长</a>
            </div>
        </div>