    <div class="focusNews c_right contents">
        <ul class="contentNav">
            <li class="on"><a href="javascript:void(0);">要闻速递</a></li>
        </ul>
        <div class="focus_show">
            <a href="javascript:void(0);" class="a_show"><img width="80" border="0" height="80" alt="infor" src="../../Public/Tmp/in_pic5.jpg"></a>
            <div>
                <a href="javascript:void(0);">河南某中学要求学生跪拜孔子像</a>
                <p>孔孟之道是我们中华文明的瑰宝，需要我们每个人借鉴的感悟。</p>
            </div>
        </div>
        <a href="javascript:void(0);">中国学前教育资源仍不足 公办幼儿园不足1/3</a>
        <a href="javascript:void(0);">山东泰安市教育局:今年起取消市级优秀学生加分</a>
        <a href="javascript:void(0);">佛山小升初改用面谈 学生老师一对一玩游戏 </a>
        <a href="javascript:void(0);">2015中国最好大学排名发布 清华北大领跑</a>
        <a href="javascript:void(0);">中央一号文件释放教育信号：村小能保要保</a>
    </div>