        <div class="dynamic wrapBorder">
            <p>动态</p>
            <a href="javascript:void(0);"><span>30秒前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>1分钟前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>10分钟前</span>朱莉在平台发布了一年级语文...</a>
            <a href="javascript:void(0);"><span>1小时前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>5小时前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>1天前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>1天前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>2天前</span>李老师在学问系统中回答了小名的问题</a>
            <a href="javascript:void(0);"><span>2天前</span>朱莉在平台发布了一年级语文《沁园春...</a>
            <a href="javascript:void(0);"><span>2天前</span>朱莉在平台发布了一年级语文《沁园春...</a>
        </div>