<include file="Public:header"/>
<include file="Public:left"/>
<eq name="publicJs" value="1">
<load href=""/>
</eq>
<eq name="everyModelJs" value="1">
<load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Shows.js"/>
</eq>
<div id="list" class="margin_t10">
    <ul class="list_header">
        <li><span class="title">{:L('SHOWS')}</span><span class="return">返回</span></li>
    </ul>
    <form enctype="multipart/form-data" action="/Manage/KnowledgePoints/shows/" method="post">
        <ul class="list_list">
            <li style="height:auto;">
                <div class="row_left">当前知识点</div>
                <div class="row_right">
                    {$tag[5][$vo['kp_subject']]}
                    {$vo['kp_title']}
                </div>
            </li>
            <li style="height:auto;">
                <div class="row_left">调整到:</div>
            </li>
            <li class="w460">
                <div class="row_left">学科</div>
                <div class="row_right">
                    <select name="kp_subject">
                        <volist name="tag[5]" id="subject">
                            <option value="{$key}">{$subject}</option>
                        </volist>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">名称</div>
                <div class="row_right">
                    <input type="hidden" name="target_id">
                    <input type="text" name="kp_title">
                </div>
            </li>
            <li>
                <span class="row_right">
                    <input type="hidden" name="kp_id" value="{$vo.kp_id}">
                    <button type="submit" value="" class="save btn">保存</button>
                </span>
            </li>
        </ul>
    </form>
</div>
<include file="Public:footer"/>