<include file="Public:headerTop"/>
<include file="Public:headerNav"/>
<include file="Public:headerSearch"/>
<include file="Public:headerAdv1"/>
<include file="Public:headerBottom"/>
<load href="/Public/Css/rating_simple.css"/>
<eq name="everyModelCss" value="1">
    <load href="__MPUBLIC__/Css/{$Think.controller_name|strtolower}Detail.css"/>
</eq>
<eq name="everyModelJs" value="1">
    <load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Detail.js"/>
</eq>
    <div class="location">
        {$navigation}
    </div>
    <div class="detailShow c_left">
        <div class="detailTitle">
            <h3 class="hTitle">{$vo.res_title}</h3>
            <span class="star">
                <for start="0" end="$vo['score']">
                    <img src="__MPUBLIC__/Images/star1.png">
                </for>
                <for start="0" end="5-$vo['score']">
                    <img src="__MPUBLIC__/Images/star2.png">
                </for>
                <span>{$vo.score|intval}分</span>
            </span>
            <span class="amount">
                <span>({$vo.res_score_count|intval}人评价)</span>
                <span>{$vo.res_hits|intval}人阅读</span>
                <span>下载量：{$vo.res_downloads|intval}</span>
            </span>
        </div>
        <div class="detailContent">
            <if condition="$vo['rf_transform_status'] neq 1">
                <div>
                    <eq name="vo['rt_id']" value="2">
                        <!-- 视频播放1 -->
                        <include file="Resource:mp4"/>

                        <!-- 视频播放2 -->
                        <include file="Resource:media"/>

                        <!-- 视频播放3 -->
                        <include file="Resource:real"/>
                    <else />
                        <!--其他-->
                        <include file="Resource:other"/>
                    </eq>
                </div>
            <else />
                <eq name="vo['rt_id']" value="1">
                    <!-- 图片 -->
                    <include file="Resource:image" />
                </eq>
                <eq name="vo['rt_id']" value="2">
                    <!-- 视频播放 -->
                    <div>
                        <include file="Resource:mp4" />
                    </div>
                </eq>
                <eq name="vo['rt_id']" value="3">
                    <!-- 音频播放 -->
                    <include file="Resource:audio"/>
                </eq>
                <eq name="vo['rt_id']" value="4">
                    <!--文档-->
                    <include file="Resource:document"/>
                </eq>
                <eq name="vo['rt_id']" value="5">
                    <!--其他-->
                    <include file="Resource:other"/>
                </eq>
            </if>
        </div>
        <div class="download">
            <span>{$vo.res_download_points|intval}个智慧币</span>
            <a class="aBtn marT20" href="{$vo|getUrlAddress=###, 'download','resource'}">下载</a>
        </div>
        <div class="evaluation marT20">
            <h4 class="h4Title">资源评价<span>（已有{$vo.res_score_count|intval}人评价）</span></h4>
            <div class="starEvaluat">
                <p class="star">
                    <input class="rating_simple" type="hidden" value="4">
                </p>
                <p class="star">
                    <input class="rating_simple" type="hidden" value="4">
                </p>
                <p class="star">
                    <input class="rating_simple" type="hidden" value="4">
                </p>
            </div>
            <div class="average star">
                <for start="0" end="$vo['res_score_average']">
                    <img src="__MPUBLIC__/Images/bigStar1.png">
                </for>
                <for start="0" end="5-$vo['res_score_average']">
                    <img src="__MPUBLIC__/Images/bigStar2.png">
                </for>
                <span>平均分数：</span>
                <span>4分</span>
            </div>
        </div>
        <div class="comment marT20">
            <h4 class="h4Title">资源评论<span>（已有{$vo.res_comment_count|intval}人评论）</span></h4>
            <form class="marT20" action="#" method="post">
                <textarea>我来评论</textarea>
                <input class="aBtn" type="button" value="发布" />
            </form>
        </div>
        <ul class="comentShow">
            <li class="com_list marT20">
                <a href="javascript:void(0);"><img src="/Uploads/Config/default_avatar.png" alt="head pic" width="60" height="60" border="0"/></a>
                <div class="com_detail">
                    <p class="com_infor">
                        <a href="javascript:void(0);">王洋</a>
                        <span class="star">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star2.png">
                            <span>4分</span>
                        </span>
                        <span class="com_date">2014-02-02 16:20:23 发布</span>
                    </p>
                    <p>终于出iphone版了哟，甚好甚好！之前在Android上体验过啦。“只看楼主”这个功能很适合像我这种追“直播贴”的人哟~豆瓣控必备！</p>
                    <div class="com_btn">
                        <span class="praise">
                            <span></span>
                            （11）
                        </span>
                        <a href="javascript:void(0);" class="com_comment">
                            <span></span>
                            （18）
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
            <li class="com_list marT20">
                <a href="javascript:void(0);"><img src="/Uploads/Config/default_avatar.png" alt="head pic" width="60" height="60" border="0"/></a>
                <div class="com_detail">
                    <p class="com_infor">
                        <a href="javascript:void(0);">天硕</a>
                        <span class="star">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star1.png">
                            <img src="__MPUBLIC__/Images/star2.png">
                            <span>4分</span>
                        </span>
                        <span class="com_date">2014-02-02 16:20:23 发布</span>
                    </p>
                    <p>终于出iphone版了哟，甚好甚好！之前在Android上体验过啦。“只看楼主”这个功能很适合像我这种追“直播贴”的人哟~豆瓣控必备！</p>
                    <div class="com_btn">
                        <span class="praise">
                            <span></span>
                            （11）
                        </span>
                        <a href="javascript:void(0);" class="com_comment">
                            <span></span>
                            （18）
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
        <p class="moreComment flex">查看下10条评论<span></span></p>
    </div>
    <div class="others c_right">
        <form class="upload" action="#" method="post" enctype="multipart/form-data">
            <input type="file" name="upload file"/>
            <label>上传文档</label>
        </form>
        <ul>
            <li class="docInfo marT20">
                <h4>文档信息</h4>
                <p>{$vo.res_title|getShortTitle=###,12}</p>
                <p>{$vo.res_hits|intval}人阅读</p>
                <p>下载：{$vo.res_downloads|intval}次</p>
                <p>上传时间：{$vo.res_created|date='Y-m-d',###}</p>
                <p>智慧豆：{$vo.res_download_points|intval}个</p>
                <p>摘要：{$vo.res_summary|getShortTitle=###,55} </p>
                <div class="doc_btn">
                    <span class="aBtn">收藏</span>
                    <span class="aBtn">已赞</span>
                </div>
            </li>
            <li class="re_evaluat marT20">
                <p class="star">
                    <span>资源评价：</span>
                    <span>{$vo.score|intval}分</span>
                </p>
            </li>
            <li class="article marT20">
                <h4>相关文章</h4>
                <volist name="relationList[3]['list']" id="relation_info">
                    <a href="{$relation_info|getUrlAddress=###,'detail','resource'}">
                        <img src="{$relation_info.res_image}" title="{$relation_info.res_title}" width="14" height="14" border="0"/>
                        {$relation_info.res_title|getShortTitle=###,12}
                    </a>
                </volist>
            </li>
            <li class="article marT20">
                <h4>喜欢此文档的还喜欢</h4>
                <volist name="likeList[3]['list']" id="like_info">
                    <a href="{$like_info|getUrlAddress=###,'detail','resource'}">
                        <img src="{$like_info.res_image}" title="{$like_info.res_title}" width="14" height="14" border="0"/>
                        {$like_info.res_title|getShortTitle=###,12}
                    </a>
                </volist>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="bigAd">
        <volist name="advertList[14]['list']" id="advertInfo">
            <a href="{$advertInfo.adv_url}">
                <img src="{$advertInfo.adv_image}" alt="{$advertInfo.adv_title}" title="{$advertInfo.adv_title}" width="{$advertList[14]['pos_info']['ap_width']}" height="{$advertList[14]['pos_info']['ap_height']}" border="0">
            </a>
        </volist>
    </div>
<include file="Public:footer"/>
