<include file="Public:header"/>
<include file="Public:left"/>
<load href="__MPUBLIC__/Css/add.css"/>
<eq name="everyModelCss" value="1">
    <load href="__MPUBLIC__/Css/{$Think.controller_name|strtolower}Shows.css"/>
</eq>
<eq name="everyModelJs" value="1">
    <load href="__MPUBLIC__/Js/model/{$Think.controller_name|strtolower}Shows.js"/>
</eq>
<div id="list" class="margin_t5">
    <ul class="list_header">
        <li>
            <span class="title">资源审核</span>
            <span class="return" attr="0">返回</span>
        </li>
    </ul>
    <form enctype="multipart/form-data" action="" method="post">
        <ul class="list_list">
            <li class="w460">
                <div class="row_left">标题：</div>
                <div class="row_right">
                    <input type="text" name="res_title" <if condition="$vo['res_title']">value="{$vo.res_title}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">使用类型：</div>
                <div class="row_right">
                    <select name="rc_id">
                        <volist name="category" id="cate_title">
                            <option value="{$key}" <if condition="$vo['rc_id'] eq $key">selected</if>>{$cate_title}</option>
                        </volist>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">资源展示：</div>
                <div class="row_right">
                    <include file="Resource:show"/>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">所属区域：</div>
                <div class="row_right region_cascade"></div>
            </li>
            <li class="w460">
                <div class="row_left">是否推荐：</div>
                <div class="row_right">
                    <select name="res_is_recommend">
                        <option value="9" <if condition="$vo['res_is_recommend'] eq 9">selected</if>>不推荐</option>
                        <option value="1" <if condition="$vo['res_is_recommend'] eq 1">selected</if>>推荐</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">是否优质：</div>
                <div class="row_right">
                    <select name="res_is_excellent">
                        <option value="9" <if condition="$vo['res_is_excellent'] eq 9">selected</if>>非优质</option>
                        <option value="1" <if condition="$vo['res_is_excellent'] eq 1">selected</if>>优质</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">是否推送：</div>
                <div class="row_right">
                    <select name="res_is_pushed">
                        <option value="9" <if condition="$vo['res_is_pushed'] eq 9">selected</if>>不推送</option>
                        <option value="1" <if condition="$vo['res_is_pushed'] eq 1">selected</if>>推送</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">是否发布：</div>
                <div class="row_right">
                    <select name="res_is_published">
                        <option value="9" <if condition="$vo['res_is_published'] eq 9">selected</if>>不发布</option>
                        <option value="1" <if condition="$vo['res_is_published'] eq 1">selected</if>>发布</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">是否原创：</div>
                <div class="row_right">
                    <select name="res_is_original">
                        <option value="9" <if condition="$vo['res_is_original'] eq 9">selected</if>>非原创</option>
                        <option value="1" <if condition="$vo['res_is_original'] eq 1">selected</if>>原创</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">作者：</div>
                <div class="row_right">
                    <input type="text" name="res_author" <if condition="$vo['res_author']">value="{$vo.res_author}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">语种：</div>
                <div class="row_right">
                    <input type="text" name="res_language" <if condition="$vo['res_language']">value="{$vo.res_language}"<else/>value="汉语"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">元数据语种：</div>
                <div class="row_right">
                    <input type="text" name="res_metadata_language" <if condition="$vo['res_metadata_language']">value="{$vo.res_metadata_language}"<else/>value="汉语"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">学习者：</div>
                <div class="row_right">
                    <select name="res_audience_learner">
                        <volist name="learner" id="learner_title">
                            <option value="{$key}" <if condition="$vo['res_audience_learner'] eq $key">selected</if>>{$learner_title}</option>
                        </volist>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">教育类型：</div>
                <div class="row_right">
                    <select name="res_audience_educational_type">
                        <volist name="educational" id="educational_title">
                            <option value="{$key}" <if condition="$vo['res_audience_educational_type'] eq $key">selected</if>>{$educational_title}</option>
                        </volist>
                    </select>
                </div>
            </li>
            <li class="h80">
                <div class="row_left">摘要：</div>
                <div class="row_right">
                    <textarea cols="35" rows="5" name="res_summary"><if condition="$vo['res_summary']">{$vo.res_summary}</if></textarea>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">出版者姓名：</div>
                <div class="row_right">
                    <input type="text" name="res_published_name" <if condition="$vo['res_published_name']">value="{$vo.res_published_name}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">出版者公司：</div>
                <div class="row_right">
                    <input type="text" name="res_published_company" <if condition="$vo['res_published_company']">value="{$vo.res_published_company}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">其他作者：</div>
                <div class="row_right">
                    <input type="text" name="res_other_author" <if condition="$vo['res_other_author']">value="{$vo.res_other_author}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">版本：</div>
                <div class="row_right">
                    <input type="text" name="res_version" <if condition="$vo['res_version']">value="{$vo.res_version}"<else/>value="V1.0"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">是否收费：</div>
                <div class="row_right">
                    <select name="res_permissions">
                        <option value="9" <if condition="$vo['res_permissions'] eq 9">selected</if>>免费</option>
                        <option value="1" <if condition="$vo['res_permissions'] eq 1">selected</if>>收费</option>
                    </select>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">发行时间：</div>
                <div class="row_right">
                    <input type="text" <if condition="$vo['res_issused']">value="{$vo.res_issused}"<else/>value=""</if> onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#{%y}-{%M}-#{%d}'});" name="res_issused">
                </div>
            </li>
            <li class="h80">
                <div class="row_left">元数据方案：</div>
                <div class="row_right">
                    <textarea cols="35" rows="5" name="res_metadata_scheme"><if condition="$vo['res_metadata_scheme']">{$vo.res_metadata_scheme}</if></textarea>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">短标题：</div>
                <div class="row_right">
                    <input type="text" name="res_short_title" <if condition="$vo['res_short_title']">value="{$vo.res_short_title}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">智慧豆：</div>
                <div class="row_right">
                    <input type="text" name="res_download_points" <if condition="$vo['res_download_points']">value="{$vo.res_download_points}"</if>>
                </div>
            </li>
            <li class="w460">
                <div class="row_left">显示时间：</div>
                <div class="row_right">
                    <input type="text" <if condition="$vo['res_valid']">value="{$vo.res_valid}"<else/>value=""</if> onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#{%y}-{%M}-#{%d}'});" name="res_valid">
                </div>
            </li>
            <li class="w460">
                <div class="row_left">可利用时间：</div>
                <div class="row_right">
                    <input type="text" <if condition="$vo['res_avaliable']">value="{$vo.res_avaliable}"<else/>value=""</if> onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#{%y}-{%M}-#{%d+1}'});" name="res_avaliable">
                </div>
            </li>
            <li class="w460">
                <input type="hidden" name="id" value="{$vo.res_id}">
                <button type="submit" class="pass btn">通过</button>
                <button type="submit" class="nopass btn">不通过</button>
            </li>
        </ul>
    </form>
    
</div>
<include file="Public:footer"/>